<h1 mat-dialog-title>{{props.title}}</h1>
<div
  mat-dialog-content
  *ngIf="form$ | async as form"
>
  <form [formGroup]="form">
    <app-form-input
      [control]="form.get('name')"
      [name]="'name'"
      [type]="'text'"
    ></app-form-input>
    <app-select
      *ngIf="props.type !== routes.CAMPAIGNS"
      [control]="props.type === routes.CAMPAIGNS ? form.get('campaignId') : form.get('placementId')"
      [options]="props.optionList.list"
      [placeholder]="props.optionList.placeholder"
    ></app-select>
    <app-select
      *ngIf="props.type !== routes.CAMPAIGNS && props.type !== routes.CREATIVES"
      [control]="form.get('size')"
      [options]="props.sizes.list"
      [placeholder]="props.sizes.placeholder"
    ></app-select>
  </form>
</div>
<div class="buttons" mat-dialog-actions>
  <button
    mat-flat-button
    color="warn"
    mat-dialog-close
  >
    Cancel
  </button>
  <button
    mat-flat-button
    color="accent"
    mat-dialog-close
    (click)="handleSave()"
  >
    Save
  </button>
</div>
