.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
mat-card{
  background-color: rgba(16, 89, 89, 0.18);
  margin-left: 5px;
}
