.container {
  .example-card {
    max-width: 600px;
    padding: 15px;
  }

  mat-card {
    background-color: rgba(16, 89, 89, 0.18);
    margin-left: 5px;

    .image {
      width: 400px;
      height: 400px;
      object-fit: contain;
    }

    mat-card-actions {
      display: flex;
      justify-content: space-between;
    }
  }
}


