<div class="container" *ngIf="form$ | async as form">
  <div class="creative-preview" *ngIf="form.value">
    <div class="smoplo-tag">
      <img src="{{form.get('imageSrc').value}}" alt="" width="100%" height="100%">
    </div>
  </div>
  <div class="controls" *ngIf="form.value">
    <form class="example-form" [formGroup]="form">
      <app-form-input [control]="form.get('name')" [name]="'name'" [type]="'url'"></app-form-input>
      <app-select [control]="form.get('animation')" [options]="animations"></app-select>
      <app-slider [control]="form.get('horizontalPos')" [max]="100" [min]="-100">Horizontal Position</app-slider>
      <app-slider [control]="form.get('verticalPos')" [max]="100" [min]="-100">Vertical Position</app-slider>
      <app-slider [control]="form.get('imageSize')" [max]="100" [min]="0">Image Size</app-slider>
      <app-slider [control]="form.get('width')" [max]="100" [min]="0">Width</app-slider>
      <app-form-input [control]="form.get('imageSrc')" [name]="'imageSrc'" [type]="'text'"></app-form-input>
      <button class="button" mat-flat-button color="accent" (click)="handleCreativeSave()">Save creative</button>
    </form>
  </div>
</div>
