<div class="container" *ngIf="form$ | async as form">
  <div class="creative-preview">
    <div class="smoplo-tag">
      <img src="{{form.value.imageSrc}}" alt="" width="100%" height="100%">
    </div>
  </div>
  <div class="controls">
    <form class="example-form" [formGroup]="form">
      <app-form-input [control]="form.get('name')" [name]="'name'" [type]="'url'"></app-form-input>
      <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select formControl="animation" name="food">
          <mat-option *ngFor="let food of positions" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-form-input [control]="form.get('animation')" [name]="'Animation'" [type]="'text'"></app-form-input>
      <app-form-input [control]="form.get('horizontalPos')" [name]="'horizontalPos'" [type]="'number'"></app-form-input>
      <app-form-input [control]="form.get('imageSize')" [name]="'imageSize'" [type]="'number'"></app-form-input>
      <app-form-input [control]="form.get('verticalPos')" [name]="'verticalPos'" [type]="'number'"></app-form-input>
      <app-form-input [control]="form.get('width')" [name]="'width'" [type]="'number'"></app-form-input>
      <app-form-input [control]="form.get('imageSrc')" [name]="'imageSrc'" [type]="'text'"></app-form-input>
    </form>
  </div>
</div>
