.example-spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  align-items: center;

  span {
    margin-left: 5px;
  }

  button:not(:first-child) {
    margin-left: 10px;
  }
}

.no-select {
  cursor: pointer;
  user-select: none;
}
