<mat-toolbar color="primary">
  <div class="container no-select" routerLink="">
    <mat-icon>favorite</mat-icon>
    <span>Smoplo</span>
  </div>
  <span class="example-spacer"></span>
  <div class="container no-select">
    <button
      mat-flat-button color="accent"
      routerLink="creatives/creative-new"
    >
      New
    </button>
    <button
      *ngIf="!isAuth"
      mat-flat-button
      color="accent"
      routerLink="login"
    >
      Login
    </button>
    <button
      *ngIf="isAuth"
      mat-flat-button
      color="warn"
      routerLink="login"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</mat-toolbar>
